<div style="font-size: 16px;">
<p>Xin chào {{ name }},</p>
<p>Project Nestjs đã nhận được yêu cầu đặt hàng của bạn và đang xử lý nhé. Bạn sẽ nhận được thông báo tiếp theo khi đơn hàng đã sẵn sàng được giao</p>
<div style="font-size: 20px;font-weight: bold;">Đơn hàng được giao đến</div>
<div>
    <p><b>Tên khách hàng:</b> {{name}}</p>
    <p><b>Địa chỉ nhận hàng:</b> {{location}}</p>
    <p><b>Số điện thoại nhận hàng:</b> {{phone}}</p>
    <p><b>Email:</b> {{email}}</p>
    <p style="font-size: 18px;"><b>Tổng giá trị đơn hàng: </b> {{price}} VND</p>
</div>

<p>Nếu địa chỉ thông tin liên lạc/ giao hàng chưa chính xác, bạn có thể hủy đơn hàng nếu đơn hàng chưa chuyển sang trạng thái Hoàn tất đóng gói và chuyển bị vận chuyển.Và thử đặt lại đơn hàng bạn nhé</p>
</div>