<div style="font-size: 16px;">
<p>Xin chào {{ name }},</p>
<p>Project Nestjs đã giao cho bạn đơn hàng {{id}}</p>
<p>Nếu sản phẩm có dấu hiệu hư hỏng/bể vỡ hoặc không đúng với thông tin trên website, bạn vui lòng liên hệ với Project Nestjs trong vòng 24h kể từ thời điểm nhận hàng để được hỗ trợ</p>
<p>Hãy kiểm tra sản phẩm bạn vừa nhận được và giữ nguyên đơn nhận hàng được dán trên thùng hàng, hóa đơn( nếu có ) và hộp sản phẩm để đổi trả hàng hoặc bảo hành khi cần</p>
<div style="font-size: 20px;font-weight: bold;">Đơn hàng được giao đến</div>
<div>
    <p><b>Tên khách hàng:</b> {{name}}</p>
    <p><b>Địa chỉ nhận hàng:</b> {{location}}</p>
    <p><b>Số điện thoại nhận hàng:</b> {{phone}}</p>
    <p><b>Email:</b> {{email}}</p>
    <p style="font-size: 18px;"><b>Tổng giá trị đơn hàng: </b> {{price}} VND</p>
</div>
</div>